<body>
    <!-- Header Section -->
    <header class="header">
        <div class="top-bar">
            <img src="assets/CitizenLogo.png"  class="logo">
            <div class="header-links">
                <a href="#">Find a Branch/ATM</a>
                <a href="#">Customer Service</a>
                <a href="#">Search</a>
            </div>
        </div>
        <!-- Main Navigation -->
        <nav class="main-nav">
            <ul>
                <li><a href="#">For You</a></li>
                <li><a href="#">For Your Business</a></li>
                <li><a href="#">Commercial</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </nav>
        <!-- Sub Navigation Menu -->
        <div class="menu-bar">
            <ul>
                <li><a href="#">Banking & Credit Cards</a></li>
                <li><a href="#">Home Loans</a></li>
                <li><a href="#">Students</a></li>
                <li><a href="#">Retirement & Investing</a></li>
                <li><a href="#">Wealth Management</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </div>
    </header>

    <!-- Content Section -->
    <section class="content">
        <div class="promo-section">
            <h1>Ask a Citizen how we can help you avoid checking fees.</h1>
            <div class="green-line"></div>
            <p>One Deposit Checking from Citizens Bank<sup>TM</sup></p>
            <button>Get Details</button>
            <div class="green-line"></div>
            <a>Compare our checking options ></a>
        </div>
        <div class="login-section">
            <h2>Secure login to Online Banking</h2>
            <form>
                <select id="account-type">
                    <option value="personal">Personal/Small Business</option>
                </select>
                <div>
                    <input type="text" id="username" placeholder="Username">
                    <button type="submit">Log In</button>
                </div>
            </form>
            <div class="login-links">
                <a >Trouble logging in?  </a>
                <a > | Enroll Now</a>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <marquee>Interest rates as low as: 3.75% 30-Year Fixed Mortgage >> 2.57% Education Loan Lorem Ipsum >></marquee>
        <h3>Choose a goal, and we’ll help get you there.</h3>
    </footer>
</body>
